img{
    width: 400px;
    height: 275px;
}
.line{
    width: 1077px;
    height: 20px;
    fill: #0085FF;
}
figcaption{
    font-family: 'Radley', serif;
    font-size: 64px;
    font-style: italic;
    font-weight: 400;
}